@import "tailwindcss";
* {
    /* margin: 0 auto; */
    box-sizing: border-box;
    font-family: Nunito;
}
@theme {
    --breakpoint-xs: 23.4375rem;
}

body {
    background: linear-gradient(180deg, #4fc3ff, #effaff, #74caf5);
    background-size: 100% 200%;
    min-height: 100vh;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

@keyframes pulse0 {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(2);
    }
    43.3% {
        transform: scale(1);
    }
    76.6% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse1 {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    43.3% {
        transform: scale(2);
    }
    76.6% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse2 {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    43.3% {
        transform: scale(1);
    }
    76.6% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
